.about-page {
	background-color: rgb(223, 255, 223);
	height: 100vh;
}
.about-img {
	width: 250px;
	border-radius: 50%;
	padding: 5px;
	border: 6px solid var(--clr2);
	margin-block-end: 10px;
	margin: 50px;
}

.about-card-container .about-card {
	background: rgba(255, 255, 255, 0.35);
	box-shadow: 0 8px 32px 0 rgba(52, 221, 221, 0.146);
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(2.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	margin-inline-end: 30px;
}
