.app-header {
	background-color: var(--clr2);
	/* background-color: rgba(0, 0, 0, 0.035); */
	color: var(--secondary-clr1);
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
	justify-content: space-between;

	/* height: 10vh; */

	padding: 10px;

	font-weight: 800;
	font-size: larger;
}
.app-header h1 {
	margin: 0;
	/* font-family: Yellowtail; */
	font-size: 2em;
}
.app-header nav {
	display: flex;
	gap: 5em;
}

.app-header nav a:hover {
	color: rgba(255, 0, 0, 0.517);
}

@media (max-width: 720px) {
	.app-header {
		/* background-color: var(--clr3);
		color: var(--secondary-clr2); */
	}
}
