.header-nav {
	position: absolute;
	top: 75px;
	right: 1rem;
	z-index: 1;
	width: 300px;
	border-radius: 0.5em;
	height: 75px;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
	display: grid;
	gap: 2px;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	grid-template-columns: repeat(auto-fit, 50px);
	grid-auto-flow: dense;
}

.nav-card {
	display: grid;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-card img {
	align-self: center;
	height: 32px;
}

.profile-nav {
	border-radius: 0.25em;
}
