.user-msg {
	position: fixed;
	bottom: 20px;
	left: 20px;
	height: 3rem;
	min-width: 100px;
	background-color: var(--clr5);
	color: var(--clr1);
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
	/* transition: opacity 1s; */
}
.user-msg button,
.user-msg .close-msg {
	text-align: center;
	min-width: 1rem;
	width: 1rem;
	min-height: 1rem !important;
	height: 1rem;
	font-size: 1rem;
	color: var(--clr1);
}
.user-msg button:hover {
	color: var(--clr3);
	opacity: 0.5;
}
/* .success {
	background-color: rgb(88, 130, 88);
}
.error {
	background-color: rgb(187, 104, 104);
} */
