.notes-sidebar-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	height: fit-content;
	gap: 1rem;
	padding-top: 0.5rem;
	padding-left: var(--note-header-side-padding);
}
.notes-sidebar-container button,
.notes-sidebar-container i {
	width: 1.5rem;
	font-size: 1.5rem;
}

.notes-sidebar-container button:hover {
	background-color: var(--notes-nav-hover);
}

.notes-sidebar-container .side-selected {
	background-color: #feefc3;
}
