.notes-list {
}

.notes-list button:hover,
.upload-btn i:hover {
	color: var(--clr5);
	filter: drop-shadow(0 0 0.75rem rgb(172, 172, 172));
}

.main-notes {
	padding-left: var(--note-side-padding);
	padding-right: var(--note-side-padding);
	columns: auto 220px;
	column-gap: 1.5rem;
	margin-bottom: 3rem;
}
.notes-container .notes-container-title {
	padding-left: 3.75rem;
	font-size: 0.6875rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	letter-spacing: 0.07272727em;
}
