.note-card {
	max-width: 500px;
	min-width: 240px;
	min-height: 125px;
	border-radius: 0.5em;
	border: 1px solid var(--border-clr);
	transition: background-color 250ms ease, box-shadow 300ms, opacity 100ms;
	break-inside: avoid;
	margin-block-end: 2rem;
}
.note-card input,
.note-card textarea {
	padding: var(--note-card-pad);
	padding-block-start: 1rem;
	width: 100%;
}
.note-card:hover .button-container {
	opacity: 1;
}
.note-card input[type='color'] {
	width: var(--note-btn-size);
	height: var(--note-btn-size);
	opacity: 0;
	overflow: hidden;
	cursor: pointer;
}
.note-card:hover {
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
.note-card .note-title {
	user-select: none;
}
.button-container {
	opacity: 0;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(auto-fit, var(--note-btn-size));
	margin-left: var(--note-card-pad);
	margin-right: var(--note-card-pad);
	justify-content: space-between;
	align-content: center;
}
.button-container * {
	align-self: center;
	justify-self: center;
	width: var(--note-btn-size);
	height: var(--note-btn-size);
	font-size: var(--note-btn-size);
}
.upload-btn {
	color: var(--clr5);
	height: var(--note-btn-size);
	width: var(--note-btn-size);
	font-size: var(--note-btn-size);
	cursor: pointer;
}
.upload-btn:hover {
	color: var(--clr3);
}
.color-wrapper {
	height: var(--note-btn-size);
	width: var(--note-btn-size);
	margin: 0;
	padding: 0;
}

.note-title {
	padding: var(--note-card-pad);
	font-size: 1.25rem;
	color: var(--clr5);
}

.striked {
	text-decoration: line-through;
}
.todo-item {
	height: fit-content;
}
.preview-text {
	padding: var(--note-card-pad);
	width: 100%;
	user-select: none;
}

.note-card .preview-txt {
	font: inherit;
	color: var(--clr5);
	user-select: none;
	padding: var(--note-card-pad);
	padding-block-start: 1rem;
	width: 100%;
	height: fit-content;
}
