.notes-container {
	display: grid;
}
.main-notes {
	padding-left: 3rem;
	padding-right: 3rem;
	columns: auto 220px;
	column-gap: 1.5rem;
	margin-bottom: 3rem;
}

.add-note {
	height: 30px;
	font-size: 30px;
	margin: 10px;
}
