.notes-index button,
.upload-btn i {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--clr6);
	transition: filter 100ms;
	background-blend-mode: overlay;
	border-radius: 50%;
}
.notes-index {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		'header header'
		'sidebar main';
}
.notes-header {
	grid-area: header;
	width: 100vw;
	height: 75px;
}
.notes-container {
	grid-area: main;
	position: relative;
	display: grid;
}
.notes-sidebar-container {
	grid-area: sidebar;
	top: 0;
	position: sticky;
}
.notes-index textarea {
	padding-block-start: 1rem;
}

.notes-container p {
	margin: 0;
}
.notes-index textarea,
.notes-index p {
	color: var(--clr5);
}
