.notes-list {
}

.main-notes {
	padding-left: 3rem;
	padding-right: 3rem;
	columns: auto 220px;
	column-gap: 1.5rem;
	margin-bottom: 3rem;
}
.notes-container .notes-container-title {
	padding-left: 3.75rem;
	font-size: 0.6875rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	letter-spacing: 0.07272727em;
}
