.note-details {
	z-index: 3;
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 50vw;
	max-height: 90vh;
	border-radius: 0.5em;
	transition: box-shadow 250ms opacity 100ms;
	break-inside: avoid;
	margin-block-end: 2rem;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
	scale: 0.6;
	transition: scale 250ms, background-color 250ms;
}
.note-details.show {
	scale: 1;
}

.note-details input,
.note-details textarea {
	padding: var(--note-card-pad);
	padding-block-start: 1rem;
	width: 100%;
}
.note-details .note-title {
	max-height: 3.5rem;
	overflow: auto;
	overflow-x: hidden;
}
.note-details .note-component {
	max-height: 74vh;
	overflow: auto;
	overflow-x: hidden;
}
.note-details .button-container {
	opacity: 1;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(auto-fit, var(--note-btn-size));
	margin-left: var(--note-card-pad);
	margin-right: var(--note-card-pad);
	justify-content: space-between;
	align-content: center;
}
.note-details input[type='color'] {
	width: var(--note-btn-size);
	height: var(--note-btn-size);
	opacity: 0;
	overflow: hidden;
	cursor: pointer;
}

.note-screen {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 60%);
	opacity: 1;
	user-select: none;
	transition: opacity 1s;
}
.note-details .NoteImg {
	overflow: auto;
}

.note-details button:hover,
.note-details .button-container button:hover {
	color: var(--clr5);
	filter: drop-shadow(0 0 0.75rem rgb(172, 172, 172));
}
.note-index button:hover .pin-empty {
	fill: var(--clr5);
	filter: drop-shadow(0 0 0.75rem rgb(172, 172, 172));
}
.todo-item .drag-btn {
	opacity: 0;
	transition: opacity 50ms;
	color: var(--clr4);
}
.todo-item .delete-todo-btn {
	opacity: 0;
	transition: opacity 50ms;
}
.todo-item:hover .drag-btn,
.todo-item:hover .delete-todo-btn {
	opacity: 1;
}

.todo-item .drag-btn:hover {
	cursor: all-scroll;
	color: var(--clr5);
	filter: drop-shadow(0 0 0.75rem rgb(172, 172, 172));
}
.timestamp {
	display: flex;
	justify-content: end;
	color: var(--clr4);
	font-size: 0.8rem;
	padding-inline-end: 0.8rem;
}
