.book-details {
	display: grid;

	padding: 10px;
	background-color: var(--clr1);
	margin-block-start: 10px;
}
.book-details p {
	text-align: center;
}
.book-details img {
	max-width: 200px;
	justify-self: center;
}

.book-details .book-img {
	max-width: 200px;
}
.book-details button {
	justify-self: end;
}
.book-details li.underline {
	padding-inline-end: 2.5rem;
}
.red {
	color: red;
}
.green {
	color: green;
}
