.mail-index{
    display: grid;
    grid-template-areas: 
    "header header"
    "filter list"
    ;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 9fr;
    column-gap: 1em;
    height: 100vh;
    background-color: var(--mail-bcg);
    row-gap: 1em;
    /* padding-block-start: 1em; */
}

.mail-index .mail-header{
    align-items: center;
    grid-area: header;
    padding: 1em;
	height: 75px;
    display: grid;
    grid-template-columns: 230px 1fr 10vw;
    gap: 2em;

}

.mail-header input{
    padding: 10px;
	background-color: #f1f3f4;
	border-radius: 0.5em;
	border-color: inherit;
	transition: background-color 500ms;
	height: 3rem;
    border: none;
    width: 100%;
}
.mail-header .navUser,.toggle-logo{
    height: 40px;
    gap: 1.2rem;
    align-items: center;
}

.mail-header .navUser,.toggle-logo p{
    font-family: ROBOTO;
    font-size: 30px;
    margin: 0;
}

.mail-header input:focus{
    background-color: var(--clr1);
	filter: drop-shadow(rgba(149, 157, 165, 0.35) 0px 1px 3px);
}

.mail-header a img.logo{
    height: 40px;
}

.mail-header nav button{
    display: flex;
    align-items: center;

}
.mail-header nav button:hover{
    border-radius: 50%;
	background-color: var(--notes-nav-hover);

}

.mail-index header.mail-header img.user-profile {
	border-radius: 50%;
	height: 100%;
	filter: drop-shadow(rgba(149, 157, 165, 0.35) 0px 1px 3px);
}

.mail-index .filter-bar{
    grid-area: filter;
    padding-inline: 1em;
}

.mail-index .filter-bar > * {
    display: flex;
    gap:.5em;
}

.mail-index .filter-bar > *{
    align-self: baseline;
}

.mail-index .mail-list-comp{
    grid-area: list;
}

.mail-index .compose-btn{
    background-color: var(--secondary-clr1);
    border-radius: 10px;
    padding: 1em;
    margin-block-end: 1em;
}

.mail-index .inbox-btn span{
    font-family: ROBOTO-bold;
}