.mail-preview {
    display: grid;
    grid-template-columns: 20px 20px 130px 1fr 80px;
    gap: .7em;
    justify-content: center;
    align-items: center;
  
    padding-block: 10px;
}

.mail-preview .star-btn{
    min-width: 27px;
    min-height: 20px;
    padding: 0;
    color: var(--clr4);
}

.mail-preview .star-btn:hover{
    color: gold;
}

.read{
    font-family: ROBOTO-bold;
}

.unread{
    background-color: var(--mail-bcg);
}

.mail-preview h2 ,.mail-preview p{
    margin: 0;
}

.hover-buttons {
    position: absolute;
    right: 0;
    opacity: 0;
} 
.mail-preview:hover .hover-buttons {
    position: absolute;
    right: 0;
    opacity: 1;
    padding-inline: 1em;
}

.mail-preview:hover p.time {
    opacity: 0;
}

.hover-buttons button{
    /* background-color:rgb(255, 255, 255); */
    height: 90%;
}

.mail-preview .mail-body{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

}