.mail-details{
    display: grid;
    grid-template-areas: 
    /* "arrow arrow" */
    " arrow subject subject btns"
    "username from from from"
    "body body body body"
    ;
    grid-template-columns: auto 1fr ;
    align-items: center;
    /* width: fit-content; */
    column-gap: 1em;
    padding: 2em;
}

.mail-details h1.subject{
    grid-area: subject;
    margin: 0;
}

.mail-details h3.username{
    grid-area: username;
}

.mail-details .mail-from{
    grid-area: from;
    grid-column: 2;
}

.mail-details .mail-body{
    grid-area: body;
}

.mail-details .mail-details-buttons{
    grid-area: btns;
    margin-inline-start: auto;
}

.mail-details .arrow-btn{
    width: fit-content;
    grid-area: arrow;
    /* margin-inline-start: auto; */
    grid-column: 1;
    
}
