.mail-preview {
    display: grid;
    grid-template-columns: 20px 20px 130px 1fr 80px;
    gap: .7em;
    justify-content: center;
    align-items: center;
  
    padding-block: 10px;
}

.read{
    font-family: ROBOTO-bold;
}

.mail-preview h2 ,.mail-preview p{
    margin: 0;
}

.hover-buttons {
    position: absolute;
    right: 0;
    opacity: 0;
} 
.mail-preview:hover .hover-buttons {
    position: absolute;
    right: 0;
    opacity: 1;
}

.hover-buttons button{
    background-color: white;
    height: 90%;
}