@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
	font-family: OpenSans;
	src: url(../../fonts/OpenSans-Medium.ttf);
}
@font-face {
	font-family: ROBOTO;
	src: url(../../fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: ROBOTO-bold;
	src: url(../../fonts/Roboto-Bold.ttf);
}
@font-face {
	font-family: ROBOTO-medium;
	src: url(../../fonts/Roboto-Medium.ttf);
}
@font-face {
	font-family: TiltPrism;
	src: url(../../fonts/TiltPrism-Regular-VariableFont_XROT\,YROT.ttf);
}

@font-face {
	font-family: Gloock;
	src: url(../../fonts/Gloock-Regular.ttf);
}
