:root {
	--clr1: rgb(252, 252, 252);
	--clr2: rgb(240, 240, 240);
	--clr3: rgb(155, 155, 155);
	--clr4: rgb(96, 96, 96);
	--clr5: rgb(21, 21, 21);
	--clr6: rgb(69, 69, 69);

	--base-clr: #759cffc5;
	--secondary-clr0: #d2e2fc;
	--secondary-clr1: #c1e6fe;
	--secondary-clr2: #f2f6fc;

	--clr-star: orange;
	--note-btn-size: 1.2rem;
	--note-card-pad: 0.8rem;
	--border-clr: #e0e0e0;
	--notes-nav-hover: rgba(60, 64, 67, 0.08);
	--mail-bcg:#f6f8fc;
}
