:root {
	--clr1: rgb(255, 255, 255);
	--clr2: rgb(240, 240, 240);
	--clr3: rgb(155, 155, 155);
	--clr4: rgb(96, 96, 96);
	--clr5: rgb(21, 21, 21);

	--base-clr: #759cffc5;
	--secondary-clr0: #d2e2fc;
	--secondary-clr1: #c1e6fe;

	--clr-star: orange;
}
